* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 6vw;
    text-align: center;
    margin-top: 30px;
}

h3 {
    font-size: 2.5vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#fib-length {
    display: block;
    margin: 0 auto;
    width: 45vw;
    height: 2rem;
    font-size: 1.2rem;
    padding-left: 10px;
    
}

.box {
    font-size: 1rem;
    margin: 0px auto;
    width: 60vw;
    border: black solid 3px;
    padding: 1rem;
}